<div class="test3D">
	<div class="contenedor">
		<div class="caja">
			<a href="https://www.linkedin.com/in/alanmorgado/" target="_blank">
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
					<rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/>
				</svg>
			</a>
		</div>
	</div>

	<div class="contenedor2">
		<div class="caja2">
		Hover 3D
		</div>
	</div>


	<div class="contenedor3">
		<div class="caja3">
		Hover 3D
		</div>
	</div>
</div>

<div id="container">

	<header>

		<div class="refs">

			<a href="#">
				LOGO
			</a>

			<a href="#about_me">
				SOBRE MI
			</a>
			<a href="#experience">
				EXPERIENCIA
			</a>
			<a href="#projects">
				PROYECTOS
			</a>

		</div>

		<div class="links">

			<a href="https://www.linkedin.com/in/alanmorgado/" target="_blank">
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
					<rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/>
				</svg>
			</a>

			<a href="https://github.com/AlanMorgaMora98" target="_blank">
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
					<path d="M9 18c-4.51 2-5-2-7-2"/>
				</svg>
			</a>

			<a href="mailto:alanmorgadomora@gmail.com">
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<rect width="20" height="16" x="2" y="4" rx="2"/>
					<path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
				</svg>
			</a>
				
		</div>

	</header>

	

	<main>
		<section id="hero">

			<h1>Alan Adair Morgado Morales</h1>
			<p class="description">Ingeniero de Software Full-Stack con más de 3 años de experiencia desarrollando soluciones web y multiplataforma. Especializado en la creación de aplicaciones escalables y de alto rendimiento, optimizando procesos críticos y mejorando la experiencia del usuario. Enfocado en la resolución eficiente de desafíos complejos mediante el uso de buenas prácticas.</p>
		</section>

		<section id="about_me">

			<h2>About me</h2>
			<p>Ingeniero de software graduado de la <code>UNIVERSIDAD VERACRUZANA</code> enfocado en el desarrollo de soluciones</p>

			De este lado poner una carta en 3D (esta debera tener stats como una carta de futbol/beisbol) la cual contenga mis habilidades
		</section>

		<section id="experience">

		
			<h2>Experiencia</h2>
			colocar componente que indique mi experiencia y puntos clave en mi trabajo
			<ul>
				<li>Implementé mapas interactivos con Leaflet para el seguimiento de transporte y mercancía mediante coordenadas, mejorando la visibilidad y gestión logística.</li>
				<li>Desarrollé reportes financieros con métricas clave, optimizando el análisis de datos en tiempo real y reduciendo el tiempo de gestión administrativa en más del 90%.</li>
			</ul>
		</section>

		<section id="projects">

			<h2>Proyectos</h2>
			<h2>Only amazing things that inpire me</h2>
			<ul>
				<li>MyFinances</li>
				<li>App xbox</li>
				<li>Add on</li>
			</ul>
		</section>

		<script type="module" src="/src/Code/pixel-canvas.js"></script>
		<main>
		<div class="card" style="--active-color: #5ad689">
			<pixel-canvas data-gap="3" data-speed="20" data-colors="#fef08a, #fde047, #eab308"></pixel-canvas>
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" viewBox="0 0 256 256">
			  <path d="M180,146H158V110h22a34,34,0,1,0-34-34V98H110V76a34,34,0,1,0-34,34H98v36H76a34,34,0,1,0,34,34V158h36v22a34,34,0,1,0,34-34ZM158,76a22,22,0,1,1,22,22H158ZM54,76a22,22,0,0,1,44,0V98H76A22,22,0,0,1,54,76ZM98,180a22,22,0,1,1-22-22H98Zm12-70h36v36H110Zm70,92a22,22,0,0,1-22-22V158h22a22,22,0,0,1,0,44Z"></path>
			</svg>
			<button>Command</buton>
		</div>

		<div class="card" style="--active-color: #fef08a">
			<pixel-canvas data-gap="3" data-speed="20" data-colors="#fef08a, #fde047, #eab308"></pixel-canvas>
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" viewBox="0 0 256 256">
			  <path d="M180,146H158V110h22a34,34,0,1,0-34-34V98H110V76a34,34,0,1,0-34,34H98v36H76a34,34,0,1,0,34,34V158h36v22a34,34,0,1,0,34-34ZM158,76a22,22,0,1,1,22,22H158ZM54,76a22,22,0,0,1,44,0V98H76A22,22,0,0,1,54,76ZM98,180a22,22,0,1,1-22-22H98Zm12-70h36v36H110Zm70,92a22,22,0,0,1-22-22V158h22a22,22,0,0,1,0,44Z"></path>
			</svg>
			<button>HOME</buton>
		</div>
		</main>
	</main>

	<footer>
		Developing the very best with right amount of fun 🤖
	</footer>
</div>

<style>

	html {
		scroll-behavior: smooth;
	}

	:root {
		--space: 1rem;
		--bg: #09090b;
		--fg: #e3e3e3;
		--surface-1: #101012;
		--surface-2: #27272a;
		--surface-3: #52525b;
		--ease-out: cubic-bezier(0.5, 1, 0.89, 1);
		--ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
		--primary-color: #5ad689;
		--secondary-color: #531b79;
		--accent-color: #770d0d;
		--text-color: #d4e5e1;
		--background-color: #1b1b1d;
		--header-gradient: linear-gradient(180deg,rgba(90, 214, 137, 1) 0%, rgba(25, 102, 55, 1) 80%, rgba(255, 255, 255, 0) 100%);
		--font-title: "Bungee Hairline", sans-serif;
		--font-text: "Space Mono", sans-serif;
		--font-dot: "Doto", sans-serif;
	}

	*::selection {
		background-color: var(--secondary-color); /* Color de fondo cuando seleccionas */
		color: var(--text-color); /* Color del texto cuando seleccionas */
	}

	body {
		background-color: var(--background-color);
	}

	h1, h2, h3, h4 {
		font-family: var(--font-title)
	}

	a {
		font-family: var(--font-title);
		text-decoration: none;
		font-weight: 900;
	}

	p {
		font-family: var(--font-text);
	}

	code {
		font-family: var(--font-dot);
	}

	#container {
		height: 100%;
	}

	header {
		display: flex;
		flex-flow: row wrap;
		position: sticky;
		top: 0px;
		justify-content: space-between;
		align-items: center;
		height: 6vh;
		background-color: var(--primary-color);
		/* background: linear-gradient(180deg,rgba(90, 214, 137, 1) 0%, rgba(25, 102, 55, 1) 85%, rgba(255, 255, 255, 0) 100%); */
		/* background: linear-gradient(180deg,rgba(90, 214, 137, 1) 0%, rgba(90, 214, 137, 0.9) 75%, rgba(90, 214, 137, 0.1) 90%, rgba(90, 214, 137, 0)); */
		color: var(--accent-color);
	}

	.refs, .links {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		height: 6vh;
		margin-left: 2%;
		margin-right: 2%;
		color:#770d0d;
	}

	.refs a {
		margin-left: 10px;
		margin-right: 10px;
		padding: 8px;
		box-sizing: border-box;
	}

	.refs a:hover {
		background-color: #301472;
		color: #770d0d;
	}

	.links a {
		margin-left: 20px;
		margin-right: 20px;
		padding: 8px;
		box-sizing: border-box;
		/* background-color: #101012; */
	}

	.links a:hover {
		background-color: #5e6a1e;
		color: red;
	}

	.icon {
		width: 1.5rem;
		height: 1.5rem;
		color: var(--secondary-color); /* Cambia el color del SVG */
	}

	.icon:hover {
		width: 1.5rem;
		height: 1.5rem;
		color: var(--accent-color);
		/* color: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--primary-color)); */
		
	}

	.description {
		width: 50vw;
		color: var(--text-color);
		font-family: var(--font-text);
	}

	main {
		height: 100%;
		width: 100%;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	#hero h1 {
		color: var(--primary-color);
		font-size: 40px;
		background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--primary-color));
		background-size: 200%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: animate-gradient 5s linear infinite;
	}

	@keyframes animate-gradient {
		to {
			background-position: 200%;
		}
	}

	.custom-card {
		width: 300px;
		height: 455px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 36px;
		perspective: 2500px;
		cursor: pointer;
		border-radius: 30px;
	}

	.cover-image {
		width: 100%;
		height:  100%;
		border-radius: 30px;
		object-fit: cover;
	}

	.wrapper {
		transition: all 0.5s;
		position: absolute;
		width: 100%;
		z-index: -1;
		background: #000;
		border-radius: 30px;
		box-shadow: rgba(49, 210, 12, 0.25) 0px 14px 28px, rgba(85, 29, 148, 0.22) 0px 10px 10px;

	}

	.wrapeer img {
		border-radius: 30px;
		box-shadow: rgba(255, 68, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	}

	.custom-card:hover .wrapeer {
		transform: perspective(900px) translateY(-5%) rotateX(90deg) translateZ(0);
		box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	}

	.wrapeer::before,
	.wrapeer::after {
		content: "";
		opacity: 0;
		width: 100%;
		height: 80px;
		transition: all 0.5s;
		border-radius: 30px;
		left: 0;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	}

	.wrapeer::before {
		top: 0;
		height: 100%;
		background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 12, 19) 97%);
	}

	.wrapeer::after {
		bottom: 0;
		opacity: 1;
		background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 12, 19) 97%);
	}

	.custom-card:hover .wrapeer::before, .wrapeer::after {
		opacity: 1;
	}

	.custom-card:hover .wrapeer::after {
		height: 120px;
	}

	.custom-card:hover .cover-image {
		opacity: 0.5; 
	}

	.character {
		width: 50%;
		opacity: 1;
		transition: all 0.5s;
		position: absolute;
		filter: drop-shadow(2px 2px 2px #c01515);
		z-index: -1;
	}

	.custom-card:hover .character {
		opacity: 1;
		transform: translate3d(0%, -20%, 670px);
	}

	.test3D {
		display: flex;
		background-color: #27272a;
		margin-top: 20px;
		margin-bottom: 20px;
		justify-content: space-evenly;
		align-items: flex-end;
		flex-flow: row wrap;
	}

	.contenedor {
      perspective: 900px; /* Perspectiva desde el contenedor */
    }

	
	.contenedor2 {
      perspective: 900px; /* Perspectiva desde el contenedor */
    }

	.contenedor3 {
      perspective: 1000px; /* Perspectiva desde el contenedor */
    }


    .caja {
      width: 200px;
      height: 200px;
      background-color: #ae2121;
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: transform 0.5s ease;
      transform-style: preserve-3d;
    }

    .caja2 {
      width: 200px;
      height: 200px;
      background-color: #11b506;
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: transform 0.5s ease;
      transform-style: preserve-3d;
    }

	.caja3 {
      width: 200px;
      height: 200px;
      background-color: #bf1d76;
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: transform 0.5s ease;
      transform-style: preserve-3d;
    }


	.caja:hover {
      transform: perspective(900px) translateY(-5%) rotateX(25deg) rotateY(60deg) translateZ(0);
    }

    .caja2:hover {
		transition: all 1s;
		transform: scale(0.7) perspective(600px) translateY(-5%) rotateX(25deg) translateZ(0);
    }

	.caja3:hover {
      transform: perspective(600px) translateY(-5%) rotateX(25deg) translateZ(0);
    }






</style>
